body {
    margin: 0px;
    padding: 0px;
}

header {
  background-color: cornflowerblue;
  background-image: url(./img/pattern.png);
  box-sizing: content-box;
}


#logo {
  padding-top: 100px;
  width: 15%;
}

.titolo-articolo {
    font-size: 60pt;

}

.informazioni-articolo {
    color: gray;
    font-size: 30pt;
    padding: 0;

}

#blue {
    color: rgb(14, 105, 223);
}