body {
  margin: 0px;
  padding: 0px;
  
}

header {
  background-color: rgb(57, 156, 237);
  background-image: url(./img/pattern.png);
  box-sizing: content-box;
}

main,
footer {
    padding: 0 20%;
}

#logo {
  padding-top: 100px;
  padding-left: 20%;
  width: 140px;
}

.titolo-articolo {
  font-size: 50pt;
  color: black;
}

.informazioni-articolo {
  color: gray;
  font-size: 20pt;
  padding: 0;
}

#blue {
  color: rgb(14, 105, 223);
}

.tim {
  size: 200px;
}

.photo {
  font-size: 12pt;
}

p {
  font-size: 18pt;
}

.giallo {
  background-color: yellow;
}

ul {
  font-size: 18pt;
}

table {
  border-collapse: collapse;
  font-size: 18pt;
}

.prima-colonna,
.seconda-colonna {
  width: 25%;
}

.table-header {
  background-color: #4ea0ff;
  color: white;
  text-align: left;
  border-collapse: collapse;
}

.table-pari {
  background-color: #b1e5f2;
}

.table-dispari {
}

strong {
    color: gray;
    font-size: 15pt;
    padding-bottom: 50px;
}

h2 {
    font-size: 15pt;
    color: white;
padding: 10px;
}


#ph1 {
    background: url(./img/monitor.jpg) no-repeat ;
    background-size: cover;
width: 300px;
height: 200px;


}

#ph2 {
    background: url(./img/graph.jpg) no-repeat ;
    background-size: cover;
    width: 300px;
    height: 200px;
    


}