body {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: cornflowerblue;
  background-image: url(./img/pattern.png);
  box-sizing: content-box;
}

#logo {
  padding-top: 100px;
  width: 15%;
}

.titolo-articolo {
  font-size: 50pt;
}

.informazioni-articolo {
  color: gray;
  font-size: 20pt;
  padding: 0;
}

#blue {
  color: rgb(14, 105, 223);
}

.tim {
  size: 200px;
}

.photo {
  font-size: 12pt;
}

p {
  font-size: 18pt;
}

.giallo {
  background-color: yellow;
}

ul {
  font-size: 18pt;
}

table {
  border-collapse: collapse;
  font-size: 18pt;
}

.prima-colonna,
.seconda-colonna {
  width: 25%;
}

.table-header {
  background-color: #4ea0ff;
  color: white;
  text-align: left;
  border-collapse: collapse;
}

.table-pari {
  background-color: #b1e5f2;
}

.table-dispari {
}
